{{#if siteSettings.basic_links_enabled}}
    {{#if model.basic_links_url}}
    <span class="basic-links topic-title">
 		{{#if siteSettings.basic_links_open_links_externally }}
 		<a href="{{model.basic_links_url}}" target="_blank">{{model.basic_links_domain}}</a>
		{{else}}
	    <a href="{{model.basic_links_url}}">{{model.basic_links_domain}}</a>
	    {{/if}}
    </span>
  {{/if}}
{{/if}}
