{{#if context.siteSettings.basic_links_enabled}}
    {{#if context.topic.can_add_link}}
    	<span class="basic-links"> - 
    		{{#if context.siteSettings.basic_links_open_links_externally }}
	 		<a href="{{context.topic.basic_links_url}}" target="_blank">{{context.topic.basic_links_domain}}</a>
			{{else}}
		    <a href="{{context.topic.basic_links_url}}">{{context.topic.basic_links_domain}}</a>
		    {{/if}}
		</span>
    {{/if}}
{{/if}}